.mem-container {
  display: flex;
}
.mem-table-container,
.mem-chart-container {
  flex: 1;
  padding: 20px;
  width: 90vw;
  height: 20vh;
}
.mem-table-container {
  overflow-y: scroll;
  th {
    font-size: xx-small;
  }
}
.mem-chart-container {
  flex: 3;
  .demo-chart {
    height: 100%;
  }
}
.mem-table {
  width: 100%;
}
.control-button-row {
  button {
    margin: 5px 10px;
  }
}
